# Brazillian Ecommerce, Olist Dataset

test markdown

## Context
This is a Brazilian ecommerce public dataset of orders made at Olist Store.  The dataset has information of 100k orders from 2016 to 2018 made at multiple marketplaces in Brazil. Its features allow viewing an order from multiple dimensions: from order status, price, payment and freight performance to customer location, product attributes and finally reviews written by customers. They also released a geolocation dataset that relates Brazilian zip codes to lat/lng coordinates.


This is real commercial data, it has been anonymised, and references to the companies and partners in the review text have been replaced with the names of Game of Thrones great houses.

Olist connects small businesses from all over Brazil to channels without hassle and with a single contract. Those merchants are able to sell their products through the Olist Store and ship them directly to the customers using Olist logistics partners. See more on our website: www.olist.com

After a customer purchases the product from Olist Store a seller gets notified to fulfill that order. Once the customer receives the product, or the estimated delivery date is due, the customer gets a satisfaction survey by email where he can give a note for the purchase experience and write down some comments.

*Notes*

1. An order might have multiple items.
2. Each item might be fulfilled by a distinct seller.
3. All text identifying stores and partners where replaced by the names of Game of Thrones great houses.

## Features

The dataset contains a variety of features from different aspects of the transactions within the marketplace, including customer information, product details, payment methods, and review scores. Here’s a list of the key columns available in the dataset:

* `customer_id`: Unique identifier for each customer.
* `customer_unique_id`: A secondary identifier for customers that allows you to identify customers who made repurchases at the store.
* `customer_zip_code_prefix`: Zip code prefix for the customer’s location.
* `customer_city`: City where the customer is located.
* `customer_state`: State where the customer is located.
* `order_id`: Unique identifier for each order placed by the customer.
* `order_status`: The current status of the order (e.g., shipped, delivered, cancelled).
* `order_purchase_timestamp`: Timestamp when the order was placed.
* `order_approved_at`: Timestamp when the order was approved.
* `order_delivered_carrier_date`: Date when the order was delivered to the carrier.
* `order_delivered_customer_date`: Date when the order was delivered to the customer.
* `order_estimated_delivery_date`: Estimated date for the order to be delivered to the customer.
* `review_id`: Unique identifier for each review provided by the customer.
* `review_score`: Rating score (1 to 5) provided by the customer for the product.
* `review_comment_title`: Title of the product review.
* `review_comment_message`: Content or message provided in the product review.
* `review_creation_date`: Date when the review was created.
* `review_answer_timestamp`: Timestamp when the review was answered (if applicable).
* `order_item_id`: Unique identifier for the item in the order.
* `product_id`: Unique identifier for the product ordered.
* `seller_id`: Unique identifier for the seller.
* `shipping_limit_date`: The last date for shipping the order.
* `price`: Price of the product in the order.
* `freight_value`: Shipping cost for the order.
* `payment_sequential`: Sequential number for installment payments in the order.
* `payment_type`: Type of payment used by the customer (e.g., credit card, boleto).
* `payment_installments`: Number of installments used in the payment.
* `payment_value`: Total value of the payment made by the customer.
* `product_category_name`: Category of the product purchased.
* `product_name_length`: Length of the product name (in characters).
* `product_description_length`: Length of the product description (in characters).
* `product_photos_qty`: Quantity of photos available for the product.
* `product_weight_g`: Weight of the product in grams.
* `product_length_cm`: Length of the product in centimeters.
* `product_height_cm`: Height of the product in centimeters.
* `product_width_cm`: Width of the product in centimeters.
* `seller_zip_code_prefix`: Zip code prefix of the seller's location.
* `seller_city`: City where the seller is located.
* `seller_state`: State where the seller is located.
* `geolocation_zip_code_prefix`: Zip code prefix for the seller's geolocation.
* `geolocation_lat`: Latitude of the seller's location.
* `geolocation_lng`: Longitude of the seller's location.
* `geolocation_city`: City where the seller's geolocation is located.
* `geolocation_state`: State where the seller's geolocation is located.
* `product_category_name_english`: English translation of the product category name.***


## Acknowledgments
Thanks to Olist for releasing this dataset.

## Contents
1. Business Problem Understanding
2. Data Understanding
3. Data Preprocessing
4. Modeling
5. Conclusion
6. Recommendation

# 1. Business Problem Understanding

**Context**

This dataset contains transactional data from the Olist marketplace, an e-commerce platform in Brazil. It includes a variety of features related to customer behavior, product information, order details, payment methods, shipping costs, and review scores. The dataset provides valuable insights into online purchases, customer satisfaction, and product performance, making it an excellent resource for understanding e-commerce dynamics.

**Background**

- Better Understanding of Customer Needs -> penempatan penyebaran produk (gudang/seller)
- Improved Targeting and Efficient Resource Allocation -> promosi tepat sasaran
- Personalized Marketing -> crm (customer relationship marketing)

**Problem Statement**

Customer satisfaction is a critical factor in the success of any e-commerce business. Unsatisfied customers are less likely to return, leading to reduced customer retention and revenue. Predicting whether a customer will leave a positive or negative review based on their order details and interactions can help businesses proactively address issues, improve customer experience, and increase retention.
=> Bagaimana perilaku customer di tiap segmentasi untuk membuat marketing yang lebih terpersonalisasi dan tepat sasaran.

**Goals**

The goal of this project is to predict customer satisfaction, as measured by the review_score, using features such as order details, product characteristics, payment methods, and customer demographics. By analyzing these features, we aim to:

* Predict whether a customer will leave a positive (review_score ≥ 4) or negative (review_score < 4) review.

* Identify key factors that influence customer satisfaction.

* Provide actionable insights to improve customer experience and reduce negative reviews.

**Stakeholders**

* Business Owners and Managers: They want to improve customer satisfaction and retention to drive long-term revenue growth.

* Customer Support Teams: They need insights to address customer complaints and improve service quality.

* Product Managers: They want to understand how product characteristics (e.g., category, photos, description) impact customer satisfaction.

* Marketing Teams: They aim to target dissatisfied customers with personalized offers or campaigns to improve their experience.

* Data Science Team: Responsible for developing and deploying the predictive model to classify customer satisfaction.

**Analytical Approach**

We will begin by exploring the dataset to understand the relationship between customer satisfaction (review_score) and features such as order details, product characteristics, payment methods, and customer demographics. Next, we will preprocess the data by handling missing values, encoding categorical variables, and creating new features (e.g., delivery time, order processing time). Once the data is cleaned, we will build a binary classification model to predict whether a customer will leave a positive or negative review. The model will help businesses identify dissatisfied customers and take proactive measures to improve their experience.

**Business Metrics**

The success of this project will be measured by the following metrics:

* Customer Satisfaction Rate: Percentage of customers who leave positive reviews (review_score ≥ 4).

* Negative Review Reduction Rate: Reduction in the percentage of negative reviews over time.

* Customer Retention Rate: Percentage of customers who make repeat purchases after receiving targeted interventions.

* Model Accuracy: The ability of the model to correctly classify positive and negative reviews.

**Metric Evaluation**

The evaluation metrics for this project include:

* Accuracy: Measures the percentage of correct predictions in the classification model.

* Precision and Recall: Precision measures the percentage of correctly predicted positive reviews, while recall measures the percentage of actual positive reviews correctly identified.

* F1-Score: Harmonic mean of precision and recall, useful for imbalanced datasets.

* AUC-ROC (Area Under the Curve - Receiver Operating Characteristics): Evaluates the model's ability to distinguish between positive and negative reviews.

By focusing on these goals and metrics, this project aims to provide actionable insights that can help businesses improve customer satisfaction, reduce negative reviews, and increase customer retention.

In [1]:
import pandas as pd

In [2]:
# Load dataset

customers_df = pd.read_csv('olist_customers_dataset.csv')
items_df = pd.read_csv('olist_order_items_dataset.csv')
payments_df = pd.read_csv('olist_order_payments_dataset.csv')
reviews_df = pd.read_csv('olist_order_reviews_dataset.csv')
orders_df = pd.read_csv('olist_orders_dataset.csv')
products_df = pd.read_csv('olist_products_dataset.csv')
sellers_df = pd.read_csv('olist_sellers_dataset.csv')
category_translation_df = pd.read_csv('product_category_name_translation.csv')

In [3]:
new_rows = pd.DataFrame({"product_category_name": ["pc_gamer", "portateis_cozinha_e_preparadores_de_alimentos"], "product_category_name_english": ["pc_game", "portable_kitchen_and_food_preparators"]})
category_translation_df = pd.concat([category_translation_df, new_rows], ignore_index=True)
print(category_translation_df)

                            product_category_name  \
0                                    beleza_saude
1                          informatica_acessorios
2                                      automotivo
3                                 cama_mesa_banho
4                                moveis_decoracao
..                                            ...
68                                fraldas_higiene
69                  fashion_roupa_infanto_juvenil
70                             seguros_e_servicos
71                                       pc_gamer
72  portateis_cozinha_e_preparadores_de_alimentos

            product_category_name_english
0                           health_beauty
1                   computers_accessories
2                                    auto
3                          bed_bath_table
4                         furniture_decor
..                                    ...
68                    diapers_and_hygiene
69              fashion_childrens_clothes
70                  security_and_services
71                                pc_game
72  portable_kitchen_and_food_preparators

[73 rows x 2 columns]

In [4]:
# Data information

for df in ['customers_df', 'items_df', 'payments_df', 'reviews_df', 'orders_df', 'products_df', 'sellers_df', 'category_translation_df']:
    print(f"Dataset Name: {df}")
    display(eval(df).info())

Dataset Name: customers_df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

None

Dataset Name: items_df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

None

Dataset Name: payments_df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

None

Dataset Name: reviews_df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

None

Dataset Name: orders_df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

None

Dataset Name: products_df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

None

Dataset Name: sellers_df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

None

Dataset Name: category_translation_df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          73 non-null     object
 1   product_category_name_english  73 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

None

In [5]:
# Merging dataset

df = pd.merge(orders_df, customers_df, on='customer_id', how='outer', validate='m:m')
df = pd.merge(df, items_df, on='order_id', how='left')
df = pd.merge(df, payments_df, on='order_id', how='left')
df = pd.merge(df, reviews_df, on='order_id', how='left')
df = pd.merge(df, sellers_df, on='seller_id', how='left')
df = pd.merge(df, products_df, on='product_id', how='left')
df = pd.merge(df, category_translation_df, on='product_category_name', how='left')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119143 entries, 0 to 119142
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119143 non-null  object
 1   customer_id                    119143 non-null  object
 2   order_status                   119143 non-null  object
 3   order_purchase_timestamp       119143 non-null  object
 4   order_approved_at              118966 non-null  object
 5   order_delivered_carrier_date   117057 non-null  object
 6   order_delivered_customer_date  115722 non-null  object
 7   order_estimated_delivery_date  119143 non-null  object
 8   customer_unique_id             119143 non-null  object
 9   customer_zip_code_prefix       119143 non-null  int64
 10  customer_city                  119143 non-null  object
 11  customer_state                 119143 non-null  object
 12  order_item_id                  118310 non-null  float64
 13  product_id                     118310 non-null  object
 14  seller_id                      118310 non-null  object
 15  shipping_limit_date            118310 non-null  object
 16  price                          118310 non-null  float64
 17  freight_value                  118310 non-null  float64
 18  payment_sequential             119140 non-null  float64
 19  payment_type                   119140 non-null  object
 20  payment_installments           119140 non-null  float64
 21  payment_value                  119140 non-null  float64
 22  review_id                      118146 non-null  object
 23  review_score                   118146 non-null  float64
 24  review_comment_title           13989 non-null   object
 25  review_comment_message         50245 non-null   object
 26  review_creation_date           118146 non-null  object
 27  review_answer_timestamp        118146 non-null  object
 28  seller_zip_code_prefix         118310 non-null  float64
 29  seller_city                    118310 non-null  object
 30  seller_state                   118310 non-null  object
 31  product_category_name          116601 non-null  object
 32  product_name_lenght            116601 non-null  float64
 33  product_description_lenght     116601 non-null  float64
 34  product_photos_qty             116601 non-null  float64
 35  product_weight_g               118290 non-null  float64
 36  product_length_cm              118290 non-null  float64
 37  product_height_cm              118290 non-null  float64
 38  product_width_cm               118290 non-null  float64
 39  product_category_name_english  116601 non-null  object
dtypes: float64(15), int64(1), object(24)
memory usage: 36.4+ MB

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   177
order_delivered_carrier_date       2086
order_delivered_customer_date      3421
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
order_item_id                       833
product_id                          833
seller_id                           833
shipping_limit_date                 833
price                               833
freight_value                       833
payment_sequential                    3
payment_type                          3
payment_installments                  3
payment_value                         3
review_id                           997
review_score                        997
review_comment_title             105154
review_comment_message            68898
review_creation_date                997
review_answer_timestamp             997
seller_zip_code_prefix              833
seller_city                         833
seller_state                        833
product_category_name              2542
product_name_lenght                2542
product_description_lenght         2542
product_photos_qty                 2542
product_weight_g                    853
product_length_cm                   853
product_height_cm                   853
product_width_cm                    853
product_category_name_english      2542
dtype: int64

In [8]:
df['product_category_name_english'].fillna('Missing', inplace = True)

C:\Users\ADV\AppData\Local\Temp\ipykernel_13008\2999001223.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['product_category_name_english'].fillna('Missing', inplace = True)

In [9]:
df.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   177
order_delivered_carrier_date       2086
order_delivered_customer_date      3421
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
order_item_id                       833
product_id                          833
seller_id                           833
shipping_limit_date                 833
price                               833
freight_value                       833
payment_sequential                    3
payment_type                          3
payment_installments                  3
payment_value                         3
review_id                           997
review_score                        997
review_comment_title             105154
review_comment_message            68898
review_creation_date                997
review_answer_timestamp             997
seller_zip_code_prefix              833
seller_city                         833
seller_state                        833
product_category_name              2542
product_name_lenght                2542
product_description_lenght         2542
product_photos_qty                 2542
product_weight_g                    853
product_length_cm                   853
product_height_cm                   853
product_width_cm                    853
product_category_name_english         0
dtype: int64

In [10]:
x = df[df['review_score'].isna()]['order_status']
x.value_counts()

order_status
delivered      861
shipped         88
canceled        20
unavailable     14
processing       6
invoiced         6
created          2
Name: count, dtype: int64

In [11]:
# remove columns yang tidak butuh
df = df.drop(axis=1,
columns=['product_name_lenght',
'product_description_lenght',
'product_photos_qty',
'product_weight_g',
'product_length_cm',
'product_height_cm',
'product_width_cm',
'order_delivered_carrier_date',
'order_delivered_customer_date',
'order_estimated_delivery_date'
,'shipping_limit_date','order_approved_at',
'review_comment_title',
'review_comment_message',
'review_creation_date',
'review_answer_timestamp',
'product_category_name'])

In [12]:
df.isna().sum()

order_id                           0
customer_id                        0
order_status                       0
order_purchase_timestamp           0
customer_unique_id                 0
customer_zip_code_prefix           0
customer_city                      0
customer_state                     0
order_item_id                    833
product_id                       833
seller_id                        833
price                            833
freight_value                    833
payment_sequential                 3
payment_type                       3
payment_installments               3
payment_value                      3
review_id                        997
review_score                     997
seller_zip_code_prefix           833
seller_city                      833
seller_state                     833
product_category_name_english      0
dtype: int64

In [13]:
df = df.dropna()  
print(df.isna().sum())

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
customer_unique_id               0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
order_item_id                    0
product_id                       0
seller_id                        0
price                            0
freight_value                    0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
review_id                        0
review_score                     0
seller_zip_code_prefix           0
seller_city                      0
seller_state                     0
product_category_name_english    0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117329 entries, 0 to 119141
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117329 non-null  object
 1   customer_id                    117329 non-null  object
 2   order_status                   117329 non-null  object
 3   order_purchase_timestamp       117329 non-null  object
 4   customer_unique_id             117329 non-null  object
 5   customer_zip_code_prefix       117329 non-null  int64
 6   customer_city                  117329 non-null  object
 7   customer_state                 117329 non-null  object
 8   order_item_id                  117329 non-null  float64
 9   product_id                     117329 non-null  object
 10  seller_id                      117329 non-null  object
 11  price                          117329 non-null  float64
 12  freight_value                  117329 non-null  float64
 13  payment_sequential             117329 non-null  float64
 14  payment_type                   117329 non-null  object
 15  payment_installments           117329 non-null  float64
 16  payment_value                  117329 non-null  float64
 17  review_id                      117329 non-null  object
 18  review_score                   117329 non-null  float64
 19  seller_zip_code_prefix         117329 non-null  float64
 20  seller_city                    117329 non-null  object
 21  seller_state                   117329 non-null  object
 22  product_category_name_english  117329 non-null  object
dtypes: float64(8), int64(1), object(14)
memory usage: 21.5+ MB

In [20]:
# Change to Datetime
df['order_purchase_timestamp']=pd.to_datetime(df['order_purchase_timestamp'])

In [21]:
df['order_purchase_date'] = pd.to_datetime(df['order_purchase_timestamp'])
df['order_purchase_date'] = df['order_purchase_date'].dt.strftime('%Y-%m-%d-%H')
df['order_purchase_date'] = pd.to_datetime(df['order_purchase_date'])

In [22]:
df['year'] = df['order_purchase_date'].dt.year
df['month'] = df['order_purchase_date'].dt.strftime('%b')
df['day'] = df['order_purchase_date'].dt.day
df['hour'] = df['order_purchase_date'].dt.hour

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117329 entries, 0 to 119141
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117329 non-null  object
 1   customer_id                    117329 non-null  object
 2   order_status                   117329 non-null  object
 3   order_purchase_timestamp       117329 non-null  datetime64[ns]
 4   customer_unique_id             117329 non-null  object
 5   customer_zip_code_prefix       117329 non-null  int64
 6   customer_city                  117329 non-null  object
 7   customer_state                 117329 non-null  object
 8   order_item_id                  117329 non-null  float64
 9   product_id                     117329 non-null  object
 10  seller_id                      117329 non-null  object
 11  price                          117329 non-null  float64
 12  freight_value                  117329 non-null  float64
 13  payment_sequential             117329 non-null  float64
 14  payment_type                   117329 non-null  object
 15  payment_installments           117329 non-null  float64
 16  payment_value                  117329 non-null  float64
 17  review_id                      117329 non-null  object
 18  review_score                   117329 non-null  float64
 19  seller_zip_code_prefix         117329 non-null  float64
 20  seller_city                    117329 non-null  object
 21  seller_state                   117329 non-null  object
 22  product_category_name_english  117329 non-null  object
 23  order_purchase_date            117329 non-null  datetime64[ns]
 24  year                           117329 non-null  int32
 25  month                          117329 non-null  object
 26  day                            117329 non-null  int32
 27  hour                           117329 non-null  int32
dtypes: datetime64[ns](2), float64(8), int32(3), int64(1), object(14)
memory usage: 24.6+ MB

In [19]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_item_id,product_id,...,review_score,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english,order_purchase_date,year,month,day,hour
0,5f79b5b0931d63f1a42989eb65b9da6e,00012a2ce6f8dcda20d059ce98491703,delivered,2017-11-14 16:08:26,248ffe10d632bebe4f7267f1f44844c9,6273,osasco,SP,1.0,64315bd8c0c47303179dd2e25b579d00,...,1.0,18500.0,laranjal paulista,SP,toys,2017-11-14 16:00:00,2017,Nov,14,16
1,a44895d095d7e0702b6a162fa2dbeced,000161a058600d5901f007fab4c27140,delivered,2017-07-16 09:40:32,b0015e09bb4b6e47c52844fab5fb6638,35550,itapecerica,MG,1.0,84183944dc7cddca87a5d384452c1d3c,...,4.0,30494.0,belo horizonte,MG,health_beauty,2017-07-16 09:00:00,2017,Jul,16,9
2,316a104623542e4d75189bb372bc5f8d,0001fd6190edaaf884bcaf3d49edf079,delivered,2017-02-28 11:06:43,94b11d37cd61cb2994a194d11f89682b,29830,nova venecia,ES,1.0,9df2b21ec85378d71df4404712e17478,...,5.0,22240.0,rio de janeiro,RJ,baby,2017-02-28 11:00:00,2017,Feb,28,11
3,5825ce2e88d5346438686b0bba99e5ee,0002414f95344307404f0ace7a26f1d5,delivered,2017-08-16 13:09:20,4893ad4ea28b2c5b3ddf4e82e79db9e6,39664,mendonca,MG,1.0,af3ec22cce878225aae6d9eb6c7a78eb,...,5.0,88115.0,sao jose,SC,cool_stuff,2017-08-16 13:00:00,2017,Aug,16,13
4,0ab7fb08086d4af9141453c91878ed7a,000379cdec625522490c315e70c7a9fb,delivered,2018-04-02 13:42:17,0b83f73b19c2019e182fd552c048a22c,4841,sao paulo,SP,1.0,868b3136c5b206f91b8208fbfdf2cb7c,...,4.0,14940.0,ibitinga,SP,bed_bath_table,2018-04-02 13:00:00,2018,Apr,2,13

# 2. Data Understanding

The target variable is the customer review score, which ranges from 1 to 5. For binary classification, we will transform this into:
* Positive review: review_score ≥ 4

* Negative review: review_score < 4